body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header{
    background-color: #1e1e1e;
    display: flex;
    padding: 20px;
}

.header-content{
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 800px;
}

.logo{
    padding: 15px;
    height: 50px;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

nav a:hover{
    color: #7000ff;
}

h1{
    text-align: center;
    font-size: 50px;
}

span{
    color: #7000ff;
}

.descriere{
    text-align: center;
    font-size: 28px;
    margin-left: 350px;
    margin-right: 350px;
}

.grid-features{
    display: flex;
    padding: 20px 60px;
}

h2{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

h3{
    text-align: center;
    font-size: 20px;
}

.card{
    background-color: #1e1e1e;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 25px;
}

.card:hover{
    background-color: #242424;
}

.card-description{
    padding-left: 25px;
    padding-right: 20px;
    font-size: 18px;
}

footer{
    display: flex;
    margin-top: 160px;
    background-color: #1e1e1e;
}

.copyright{
    text-align: center;
    padding-left: 45%;
    padding-top: 25px;
}

.contact{
    padding-left: 400px;
    padding-top: 20px;
}

.contact .mail a{
  text-decoration: none;
  color: white;
}