body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header{
    background-color: #1e1e1e;
    display: flex;
    padding: 20px;
}

.header-content{
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 800px;
}

.logo{
    padding: 15px;
    height: 50px;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

nav a:hover{
    color: #7000ff;
}

.metode-plata{
    padding-top: 50px;
}

.metode-plata h2{
    padding-left: 740px;
}

.metode-plata ul{
    margin-left: 720px;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;

  margin: auto;
  max-width: 900px;
  padding:5px;
  width: 80%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

th {
  color: #12263f;
  background: #FFF3E0;
  border-bottom:4px solid gray;
  font-size:16px;
  font-weight: 500;
  padding:12px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #d2ddec;
  border-bottom: 1px solid #d2ddec;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
 
tr:first-child {
  border-top:none;
}
tr:last-child {
  border-bottom:none;
}
tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:16px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #d2ddec;
}

td:last-child {
  border-right: 0px;
}

tr.totals td {
    background:#FFF3E0;
    text-align: right;
}

td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

.table-fill img {
  width: 140px;
}

.painting {
  width: 130px;
}

td.focus {
  font-weight: 500;
}

footer{
    display: flex;
    margin-top: 160px;
    background-color: #1e1e1e;
}

.copyright{
    text-align: center;
    padding-left: 45%;
    padding-top: 25px;
}

.contact{
    padding-left: 400px;
    padding-top: 20px;
}

.contact .mail a{
  text-decoration: none;
  color: white;
}